<header>
    <section id="NavContent">
        <h1 id="Logo">
           <a href="index.htm"> Oldman作品集</a>
        </h1>
        <nav>
            <ul id="MenuContent">
                <!-- 一頁式的內部連結 錨點 連結 = 要連結目的地的ID名稱-->
                <li id="NavAbout"><a href="#Abouts">關於Oldman</a></li>
                <li><a href="#Skills">相關技能</a></li>
                <li><a href="#Workss">作品集</a></li>
                <li><a href="#Contacts">聯絡表單</a></li>
            </ul>
        </nav>
    </section>

     <ul id="Carousel">
        <li id="One" class="CarouselImg active">
            <img src="images/banner/001.jpg" alt="廣告圖片一" title="廣告">
            <p>廣告文字</p>
        </li>
        <li id="Two" class="CarouselImg ">
            <img src="images/banner/002.jpg" alt="廣告圖片二" title="廣告二">
            <p>廣告文字</p>
        </li>
        <li id="Three" class="CarouselImg">
            <img src="images/banner/003.jpg" alt="廣告圖片三" title="廣告三">
            <p>廣告文字</p>
        </li>
        <div id="nullBannerBox">
            <img src="images/banner/001.jpg" alt="">
            <p>廣告文字
            </p>
        </div>
        <div class="controls">
            <button id="prevBtn">Prev</button>
            <button id="nextBtn">Next</button>
        </div>
     </ul>
     
     <div id="MessageText"></div>
</header>